{%extends 'job_order/layout.html'%}

{% block body %}
<h3>Process ID: {{ process.id }}</h3>
<h3>Process: {{ process }}</h3>
 <ul>
  {% for equipment in machines %}
     <li><a href="{% url 'job_order:edit_equipment' equipment.id %}">Edit.....</a>
      <a href="{% url 'job_order:equipment' equipment.id %}">{{   equipment }}</a></li>
  {% empty %}
     <li>No data</li>
  {% endfor %}
 </ul>
<p><a href="{% url 'job_order:add_equipment' process.id %}">Add equipment</a></p>
<p><a href="{% url 'job_order:my_main' %}">Back to main menu</a></p>
{% endblock %}